@import url('https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&family=Gowun+Batang:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Funnel+Display');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root::selection{
    background-color: rgb(255, 0, 0);
    color: rgb(0, 255, 242);
}

#root {
    position: relative;
    background-color: aqua;
}

 .card{
     /* transform: rotateX(40deg); */
     perspective: 800px;
     } 


      
